{{#paper-card as |card|}}
  {{#card.title as |title|}}
      {{#title.text as |text|}}
      {{#text.headline}}{{t 'registry.main_section.title'}}{{/text.headline}}
      {{/title.text}}
  {{/card.title}}
  {{#card.content}}
  <div class='layout-row flex'>
    <div class='flex'>
      {{t 'general.type_label'}}
    </div>
    <div class='flex'>
      {{'model.type_verbose'}}
    </div>
  </div>
  <div class='layout-row flex'>
    <div class='flex'>
      {{t 'department.label'}}
    </div>
    <div class='flex'>
      {{'model.department.title'}}
    </div>
  </div>
  {{/card.content}}
{{/paper-card}}

{{#paper-card as |card|}}
  {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{t 'registry.members_section.title'}}{{/text.headline}}
        {{#text.subhead}}{{model.members.length}} members{{/text.subhead}}
      {{/title.text}}
  {{/card.title}}
  {{#card.content}}
  TBA...
  {{/card.content}}
{{/paper-card}}

