{{#if canExpand}}
  {{#paper-button iconButton=true onClick=(action "toggle" item)}}
    {{paper-icon toggleIcon}}
  {{/paper-button}}
{{/if}}

{{#paper-checkbox value=value onChange=(action "handleChange" item) }}
  {{item.title_current}}
{{/paper-checkbox}}

{{#if expanded}}

  <div style="display:none">{{loading}}</div>
  {{#if loading }}
    {{paper-icon "rotate-right" spin=true}}
  {{else}}
    <ul>
      {{#each nodes as |item|}}
        {{tree-item item=item canExpand=false}}
      {{/each}}
    </ul>
  {{/if}}
{{/if}}
