{{#paper-button iconButton=true onClick=(action "toggle" item)}}
  {{paper-icon toggleIcon}}
{{/paper-button}}

{{#paper-checkbox value=(array-contains selected item)
                  onChange=(action "handleChange" (array-contains selected item)  item model) }}
  {{item.title_current}}
{{/paper-checkbox}}

{{#if expanded}}

  {{#if nodes.isSettled}}
    <ul>
      {{#each nodes as |item|}}
        <li>
        {{#paper-checkbox value=(array-contains subSelected item)
                          onChange=(action "handleChange" (array-contains subSelected item) item subModel) }}
            {{item.title_current}}
          {{/paper-checkbox}}
        </li>
      {{else}}
        No data
      {{/each}}
    </ul>
  {{else}}
    {{paper-icon "rotate-right" spin=true}}
  {{/if}}

{{/if}}
