

<md-container class={{concat 'layout-column  layout-align-start-center' (if disabled 'field-disabled') (if errors.length ' ng-invalid')}} >


  <p>{{t 'prompt.upgradeRole.message' }}</p>
  {{#if (and canAdd (not readonly) (not disabled))}}
    <p>
      {{#paper-button disabled=inProgress onClick=(action 'handleAddClick')}}{{t 'file.field.add.file' }}{{/paper-button}}
    </p>
  {{/if}}
</md-container>

<md-container class='layout-row  layout-align-center'>
  {{#if inProgress}}
    {{paper-icon "rotate-right" spin=true size=25}}
  {{/if}}
</md-container>

<md-input-container class={{concat 'fullwidth ' (if disabled 'field-disabled')}} style="margin-top: 0; padding: 0;">

  <input type="file" onchange={{ action "handleFile" }} style="display: none" class="file-input"/>

  <div class="md-errors-spacer"></div>
  {{#if errors.length }}
  <div class="md-input-messages-animation md-auto-hide" ng-messages>
    {{#each errors as |error index|}}
      <div
        id="error-{{index}}"
        class="md-input-error no-position">
        {{error}}
      </div>
    {{/each}}
  </div>
  {{/if}}


  {{#if success}}
  <div class="md-auto-hide">
    <div class="md-input-success">
      {{success}}
    </div>
  </div>
  {{/if}}



</md-input-container>



{{yield}}
