{{#gen-page classNames=(if gen.nested 'nested' '') as |page|}}
  {{page.toolbar
    pageTitle=(t gen.page.title model)
    breadcrumbs=gen.breadcrumbs
    toolbarActions=gen.toolbarActions
    model=model
    tabs=gen.tabs
  }}

  {{#if userNotFound }}
  {{toolbar-message warn=true message='user.not.found.error' button=(hash action='shibbolethRegister' message='register.domestic.label' icon='pregnant_woman')}}
  {{/if}}
  {{#if userExists }}
  {{toolbar-message warn=true message='user.exists.error' button=(hash action='shibbolethLogin' message='login.domestic.label' icon='pregnant_woman')}}
  {{/if}}
  {{#if userNotVerified }}
  {{toolbar-message warn=true message='user.not.verified.error' buttonComponent=(component 'resend-verification-action')}}
  {{/if}}
  {{#if userNotModerated }}
  {{toolbar-message warn=true message='user.not.moderated.error'}}
  {{/if}}
  {{#if userVerificationFailed }}
  {{toolbar-message warn=true message='user.verification.error.message'}}
  {{/if}}


  {{#page.content}}
    {{#if gen.partials.top}}
      {{ partial gen.partials.top }}
    {{/if}}

    <md-content class="flex layout-row md-padding">
      <md-card class="flex-50">
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">{{t 'login.username.title'}}</span>
            <p class="md-subhead">{{t 'login.login.description' }}</p>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          {{ component gen.component
            model

            fieldsetFieldsComponent='paper-content'
            flat=true

            modelMeta=(readonly gen.resource)
            validators=(readonly gen.resource.validators)
            messages=(readonly gen.messages)
            labels=(readonly gen.labels)
            beforeFormComponent=(readonly gen.components.beforeForm)
            _controller=this

            onInvalid=(route-action 'onFormInvalid')
            onSubmit=(route-action 'onFormSubmit')
          }}
        </md-card-content>
      </md-card>
      <md-card class="flex-50">
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">{{t 'login.domestic.title'}}</span>
            <p class="md-subhead">{{t 'login.domestic.description' }}</p>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          {{#paper-button
            class="no-margin"
            onClick=(route-action 'shibbolethLogin')
            raised=true primary=true}}{{paper-icon 'pregnant_woman'}}{{t 'login.domestic.label' }}{{/paper-button}}
        </md-card-content>
      </md-card>
    </md-content>
    <md-content class="flex layout-row md-padding">
      <md-card class="flex-100">
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">{{t 'register.title'}}</span>
            <p class="md-subhead">{{t 'register.description' }}</p>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          {{#paper-button
            class="no-left-margin"
            onClick=(route-action 'shibbolethRegister')
            raised=true primary=true}}{{paper-icon 'pregnant_woman'}}{{t 'register.domestic.label'}}{{/paper-button}}
          {{#paper-button 
            class="no-left-margin" 
            onClick=(transition-to 'auth.register.index' 'professor')
            raised=true primary=true}}{{paper-icon 'account_box'}}{{t 'register.foreign.label'}}{{/paper-button}}
          {{#paper-button 
            class="no-left-margin"
            onClick=(transition-to 'auth.register.index' 'candidate')
            raised=true primary=true}}{{paper-icon 'account_box'}}{{t 'register.candidate.label'}}{{/paper-button}}
          {{#paper-button 
            class="no-left-margin"
            onClick=(transition-to 'auth.register.index' 'manager')
            raised=true primary=true}}{{paper-icon 'account_box'}}{{t 'register.manager.label'}}{{/paper-button}}
        </md-card-content>
        <md-card-content>
          <h4>{{t 'resend.email.verification'}}</h4>
          {{resend-verification-action}}
        </md-card-content>
      </md-card>
    </md-content>
    {{#if gen.partials.bottom}}
      {{ partial gen.partials.bottom }}
    {{/if}}
  {{/page.content}}

{{/gen-page}}
