{{#if model.can_upgrade_role }}
  {{toolbar-message class='md-soft-warn' model=model message='candidate.upgrade.academic.prompt' buttonComponent=(component 'enable-academic-action' args=(hash upgrade=1))}}
{{/if}}
{{#if model.can_set_academic }}
  {{toolbar-message class='md-soft-warn' model=model message='enable.academic.login.prompt' buttonComponent=(component 'enable-academic-action')}}
{{/if}}
{{#if model.is_disabled }}
  {{toolbar-message class='md-soft-warn' model=model message='professor.is_disabled.prompt'}}
{{/if}}


{{#unless model.has_accepted_terms}}
{{#paper-dialog fullscreen=true onClose=(toggle-action 'nullAttr' this) clickOutsideToClose=false}}
  {{#paper-toolbar warn=warn accent=accent primary=primary}}
    {{#paper-toolbar-tools}}
      <h2>{{t "acceptTerms.message" }}</h2>
      <span class="flex"></span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#paper-dialog-content classNames="md-padding"}}
  <md-content class="prompt-message">
  {{t "has_accepted_terms.label" }}
  </md-content>
  <md-content class="layout-row layout-align-end" style="padding-top: 15px">
  {{gen-action actionParams=gen.actionsMap.accept_terms context=(readonly model)}}
  {{gen-action actionParams=gen.actionsMap.decline_terms context=(readonly model)}}
  </md-content>
  {{/paper-dialog-content}}
{{/paper-dialog}}
{{/unless}}
